@charset "utf-8";

@font-face {
    font-family:'lgsmkrr';
    src: url(../font/LGSmKrR.woff) format('woff');
}

html { scrollbar-arrow-color: #efefef;

        scrollbar-Track-Color: none; 
        scrollbar-base-color: #dfdfdf;

        scrollbar-Face-Color: #dfdfdf;

        scrollbar-3dLight-Color: #dfdfdf;         
        scrollbar-DarkShadow-Color: #dfdfdf;

        scrollbar-Highlight-Color: #dfdfdf;

        scrollbar-Shadow-Color: #dfdfdf}
        
::-webkit-scrollbar {width: 7px; height: 7px; }
/*::-webkit-scrollbar-button:start:decrement, */
/*::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}*/
::-webkit-scrollbar-track {  background: none; }
::-webkit-scrollbar-thumb {  background: #4d4d4d;  }

* {padding:0; margin:0; text-decoration:none; color:#6e7483; list-style:none; box-sizing:border-box;}
body {font-size:12px; background:#212529; font-family:'lgsmkrr', sans-serif;}
.class-clearfix:after {display:block; content:''; clear:both;}
.class-blind {position:absolute; left:-9999px;}
.class-center {max-width:1680px; margin:0 auto;}


/* header */
.class-hdWrap {width:100%; background:#171717;}
.class-header {height:50px; /*padding:0 5px;*/ padding-left:15px; padding-right:15px; margin-bottom:5px; line-height:50px;}
.class-title {float:left; margin-top:-5px; margin-right:65px; color:#FFF; font-weight:600;    line-height: 60px;}
.class-title .class-subtitle {font-size:12px; color:#929292;}
.class-lineSelect {float:left;}
.class-lineSelect > div {float:left; margin-right:40px;}
.class-lineSelect > div > span {color:#c3c3c3; font-weight:600; margin-right:10px;}
select {height:30px; padding:0 10px; color:#FFF; font-weight:700; border:none; background:#282d36;}
.class-lineSelect > div.class-lineSim > select {width:165px;}
.class-lineSelect > div.class-lineMachine > select {width:263px;}
.class-langTime {float:right;}
.class-langTime > select {width:150px; color:#999;}
.class-langTime > p {display:inline-block; margin-left:25px;}
.class-langTime > p > span { color:#999; font-weight:600;}

/* container */
.class-container {position:relative;padding-right:400px;}
.class-container .class-board {width:100%;}
.class-container .class-alarm {margin-bottom:10px;margin-top:10px;}
.class-container .class-alarm > div {float:left; height:60px; padding-top:21px; margin-left:0.5%; background:#282d36;}
.class-container .class-alarm.class-type1 > div {width:49.7%;}
.class-container .class-alarm.class-type2 > div {width:33%;}
.class-container .class-alarm > div:first-child {margin-left:0%;}
.class-container .class-alarm > div > p {font-size:18px; font-weight:800; text-align:center; color:#FFF;}
.class-container .class-alarm > div > p:first-child {margin-bottom:3px;}
.class-container .class-alarm > div > p.class-alarmTit > span {color:#fff; margin:5px;}
.class-container .class-alarm > div > p.class-alarmTxt {color:#999; font-size:inherit; font-weight:400;}

.class-WBIwrap {margin-bottom:10px; background:#282d36;}
.class-WBIwrap .class-WBIalarmBanner {position:relative; clear:both; background:#282d36; margin-bottom:5px;}
.class-WBIwrap .class-WBIalarmBanner .class-WBIalarmInner {width:100%; height:340px; background:url(../img/images/sim_img.jpg) no-repeat;}

.class-WBIwrap .class-alarmWBI {float:left; width:49.5%; margin-right:1%;}
.class-WBIwrap .class-itemWBI {float:left; width:49.5%;}
.class-WBIwrap .class-WBItitle {height:30px; line-height:30px; padding-left:15px;}
.class-WBIwrap .class-WBItitle .class-WBItitleTxt {color:#b4b6bd;}
.class-WBIwrap .class-WBItitle .class-WBItitleNum {padding:3px 5px; color:#FFF; margin-right:7px; background:#ca3f45; border-radius:2px;}
.class-WBIwrap .class-WBItitle .class-WBItitleStrong {color:#ffffff;}

.class-WBIwrap .class-alarmWBI .class-alarmList {width:100%; height:207px; padding-top:13px; background:#2e353e;}
.class-WBIwrap .class-alarmWBI .class-alarmList > li {float:left; width:50%; padding-left:27px; margin:8px 0; letter-spacing:-0.05em;}
.class-WBIwrap .class-alarmWBI .class-alarmList > li > .class-listTit {color:#fff; font-size:14px; font-weight:600; margin-bottom:2px;}
.class-WBIwrap .class-alarmWBI .class-alarmList > li > .class-listTit span {margin-left:10px;}
.class-WBIwrap .class-alarmWBI .class-alarmList > li > p {color:#707070;}

.class-WBIwrap .class-itemWBI {position:relative;}
.class-WBIwrap .class-itemWBI .class-WBIalarmPaging {position:absolute; top:5px; right:5px;}
.class-WBIwrap .class-itemWBI .class-WBIalarmPaging > div {display:inline-block; width:40px; height:18px; margin:0 -3px; line-height:18px; background:#2e353e; text-align:center;}
.class-WBIwrap .class-itemWBI .class-WBIalarmPaging > div > a {color:#FFF; font-size:10px;}
.class-WBIwrap .class-itemWBI .class-WBIalarmPaging > div > a.act {color:#1e608a;}
.class-WBIwrap .class-itemWBI .class-WBIalarmPaging > button {width:18px; height:18px; border:none; color:#FFF; vertical-align:top; background:#363d46;}
.class-itemList02, .class-itemList03{display:none;}
.class-WBIwrap .class-itemWBI .class-itemList {width:100%; height:207px; background:#393f48;}
.class-WBIwrap .class-itemWBI .class-itemList > li {position:relative; float:left; width:33%; height:68px; padding:10px 17px 0 17px; margin-right:0.5%; margin-bottom:0.3%; background:#2e353e; letter-spacing:-0.05em;}
.class-WBIwrap .class-itemWBI .class-itemList > li:nth-child(3n) {margin-right:0;}
.class-WBIwrap .class-itemWBI .class-itemList > li:nth-child(7) {margin-bottom:0;}
.class-WBIwrap .class-itemWBI .class-itemList > li:nth-child(8) {margin-bottom:0;}
.class-WBIwrap .class-itemWBI .class-itemList > li:nth-child(9) {margin-bottom:0;}
.class-WBIwrap .class-itemWBI .class-itemList > li > p:last-child {position:absolute; left:17px; bottom:10px;}
.class-WBIwrap .class-itemWBI .class-itemList > li .class-itemCountY {font-size:15px; font-weight:800; color:#f0ac4b;}
.class-WBIwrap .class-itemWBI .class-itemList > li .class-itemCountR {font-size:15px; font-weight:800; color:#d9514d;}
.class-WBIwrap .class-itemWBI .class-itemList > li span {font-size:12px; font-weight:400; margin-left:5px;}
.class-WBIwrap .class-itemWBI .class-itemList > li .class-itemCountR span {color:#d9514d;}
.class-WBIwrap .class-itemWBI .class-itemList > li .class-itemCountY span {color:#f0ac4b;}

.class-alarmNum .class-numDate, .class-alarmNum .class-numMachine, .class-alarmNum .class-numTodayRank {float:left; width:33%; margin-left:0.5%;}
.class-alarmNum h3 {height:30px; line-height:30px; color:#b4b6bd; padding-left:15px; background-color:#282d36; border-bottom:1px solid #1d2127;}
.class-alarmNum .class-numDate {margin-left:0;}
.class-alarmNum .class-numDate .class-dateGraph {width:100%; height:165px; background:url(../img/images/date_graph.jpg) no-repeat center; background-color:#2e353e;}
.class-alarmNum .class-numDate ul {height:148px; padding:44px 0 32px 0; background:#363d46;}
.class-alarmNum .class-numDate ul li {position:relative; float:left; width:33.33333%; height:100%; text-align:center; padding-top:8px; border-right:1px solid #98a6ad;}
.class-alarmNum .class-numDate ul li:last-child {border-right:none;}
.class-alarmNum .class-numDate ul li p {color:#98a6ad;}
.class-alarmNum .class-numDate ul li p:last-child {position:absolute; bottom:7px; left:50%; margin-left:-8px; font-size:14px; font-weight:600;}

.class-alarmNum .class-numMachine .class-machineGraph {width:100%; height:165px; background:url(../img/images/machine_graph.jpg) no-repeat center; background-color:#2e353e;}
.class-alarmNum .class-numMachine .class-numTit {height:30px; line-height:30px; padding-left:20px; background:#434951; color:#FFF; font-weight:bold;}
.class-alarmNum .class-numMachine ul li {position:relative; height:39px; line-height:39px; padding-left:18px; background:#393f48;}
.class-alarmNum .class-numMachine ul li:nth-child(3) {height:40px; border-top:1px solid #4c545c; border-bottom:1px solid #4c545c;}
.class-alarmNum .class-numMachine ul li p {color:#98a6ad;}
.class-sl, .class-em, .class-slM {position:absolute; top:0; right:38px; color:#FFF; font-weight:600;}

.class-alarmNum .class-numTodayRank ul {height:313px; padding:0 20px; background:#2e353e;}
.class-alarmNum .class-numTodayRank ul li {height:62.5px; padding-top:13px; border-bottom:1px dashed #4c545c;}
.class-alarmNum .class-numTodayRank ul li:last-child {border-bottom:none;}
.class-alarmNum .class-numTodayRank ul li div {float:left;}
.class-alarmNum .class-numTodayRank ul li div p {font-size:11px; color:#707070;}
.class-alarmNum .class-numTodayRank ul li div p.class-italic {color:#6e7483;}
.class-alarmNum .class-numTodayRank .class-rankNum {margin-right:20px;}
.class-alarmNum .class-numTodayRank .class-rankNum p {color:#FFF; font-weight:bold; line-height:35px;}
.class-alarmNum .class-numTodayRank .class-codename {font-size:14px; color:#FFF; font-weight:600; margin-bottom:8px;}
.class-alarmNum .class-numTodayRank .class-countnum {font-size:11px; color:#0d8acc; letter-spacing:-0.06em;}
.class-alarmNum .class-numTodayRank .class-history {margin-left:30px;}

.class-container .class-italic, .class-timeline .class-italic {font-style:italic; font-size:12px; color:#6e7483;}

/* aside */
.class-timeline {position:absolute; top:0; right:0; width:395px; height:100%;}
.class-timeline p {color:#707070;}
.class-timeline .class-timeTit {width:100%; height:30px; line-height:30px; background:#282d36; border-bottom:1px solid #1d2127;}
.class-timeline .class-timeTit > h3 {float:left; padding-left:20px; font-size:12px; font-weight:normal; color:#b4b6bd; cursor:pointer;}
.class-timeline .class-timeTit > div {float:right; padding-right:20px;}
.class-timeline .class-timeTit > div span {color:#c1c1c1;}
.class-timeline .class-timeTit .class-timelineHistory ul li {float:left; margin-right:5px; cursor:pointer;}
.class-timeline .class-timeTit .class-timelineHistory ul li:last-child {float:left; margin-right:0;}
.class-timeline .class-timeTit .class-timelineHistory ul li span:first-child {display:inline-block; width:15px; height:15px;}
.class-timeline .class-timeTit .class-timelineHistory ul li span i{color:#ffffff;}
.class-timeline .class-timeTit .class-timelineHistory ul .class-active span i{color:#6e7483}
.class-timeline .class-timelineInner {height:977px; overflow:auto; padding:0 15px; background:#2e353e;}
.class-timeline .class-timelineInner ul .class-off{display:none;}
.class-timeline .class-timelineInner li {padding:15px 0; border-bottom:1px dashed #4c545c;}
.class-timeline .class-timelineInner li:after {content:''; clear:both; display:block;}
.class-timeline .class-timelineInner li > div {float:left;}
.class-timeline .class-timelineInner li .class-timerwrap {width:70px; text-align:center;}
.class-timeline .class-timelineInner li .class-timerwrap p {color:#666973; margin-bottom:5px;}
.class-timeline .class-timelineInner li .class-timerwrap p i {color:#ffffff; font-size:14px;}
.class-timeline .class-timelineInner li .class-timelineToday {width:260px; letter-spacing:-0.05em;}
.class-timeline .class-timelineInner li .class-timelineToday .class-todayTit {color:#FFF; font-size:14px; font-weight:600; margin-bottom:5px;}
.class-timeline .class-timelineInner li .class-timelineToday .class-tRed {color:#d14f4c;}
.class-timeline .class-timelineInner li .class-timelineToday .class-tBlue {color:#00a1f2;}
.class-timeline .class-timelineInner li .class-timelineToday .class-tWhite {color:#c1c1c1;}

/* no alarms */
.class-alarmWBInone, .class-itemWBInone {width:100%; height:207px; padding-top:74px; text-align:center; background:#2e353e;}
.class-noAicon i {font-size:40px; margin-bottom:15px;}
.class-noAlarmTxt {font-size:14px;}
.class-itemWBInone {background:#393f48;}
.class-itemWBInone .class-noAgraph {position: relative;height: 40px;width: 121px;margin: 0 auto 15px;line-height: 35px;padding-left: 5px;border-top: 1px solid #6e7483;border-bottom: 1px solid #6e7483;}
.class-itemWBInone .class-noAgraph span {display:inline-block; width:22px; height:2px; margin-left:-6px; background:#6e7483;}
.class-itemWBInone .class-noAgraph span:nth-child(1), .class-itemWBInone .class-noAgraph span:nth-child(3), .class-itemWBInone .class-noAgraph span:nth-child(5) {animation:graph01 2s ease-in-out infinite;}
.class-itemWBInone .class-noAgraph span:nth-child(2n) {animation:graph02 2s ease-in-out infinite;}
.class-MachineAnone {width:100%; height:118px; padding-top:27px; background:#393f48; text-align:center;}
.class-todayRnone {width:100%; height:313px; padding-top:120px; text-align:center; background:#2e353e;}




@keyframes graph01 {
    0% {transform:rotate(-30deg);}
    50% {transform:rotate(30deg);}
    100% {transform:rotate(-30deg);}
}

@keyframes graph02 {
    0% {transform:rotate(30deg);}
    50% {transform:rotate(-30deg);}
    100% {transform:rotate(30deg);}
}

@media all and (min-width:1280px) and (max-width:1679px) {
    .class-container {padding-right:0;}
    .class-container .class-board {margin-bottom:5px;}
    .class-timeline {position:static; width:100%;}
    .class-timeline .class-timelineInner {height:100%;}
    .class-timeline .class-timelineInner li {/*float:left;*/ width:100%; height:95px;}
	.class-timeline .class-timelineInner li .class-timelineToday {width:500px;}
}




