<script type="text/javascript" src="js/banner.js"></script>

<section id="id-banner" class="class-WBIwrap class-clearfix">
	<div class="class-WBIalarmBanner">
		<div class="class-WBIalarmInner"><!--중간 이미지 영역--></div>
	</div>
	<!-- class-WBalarm E -->
		
	<div class="class-alarmWBI">
		<p class="class-WBItitle">
			<span class="class-WBItitleNum">06</span>
			<span class="class-WBItitleTxt">alarms on the</span>
			<span class="class-WBItitleStrong">WireBondingInspection</span>
		</p>

        <div class="class-alarmWBInone">
            <p class="class-noAicon"><i class="fa fa-bell-slash-o" aria-hidden="true"></i></p>
            <p class="class-noAlarmTxt">No alarms</p>
        </div>
        <!-- no alarms E -->

        <!-- alarm이 있을 경우 활성화 -->
<!--
		<ul class="class-alarmList class-clearfix">
			<li>
				<p class="class-listTit">E0811<span class="class-italic">Table</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
				<p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">901<span class="class-italic">Attachment Unload</span></p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#61;1 Stopper</p>
				<p>Down Sensor &#91;Unloader DVT&#61;1&#93; Error</p>
			</li>
			<li>
				<p class="class-listTit">E1023<span class="class-italic">Wiper</span></p>
				<p>No initialization MMC board</p>
			</li>
			<li>
				<p class="class-listTit">E1024<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
				<p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">E0815<span class="class-italic">Wiper</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
				<p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">E1026<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
				<p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
		</ul>
-->
	</div>
	<!-- alarmWBI E -->

	<div class="class-itemWBI">
    
    <!-- alarm이 있을 경우 페이징 버튼 활성화 -->
<!--
		<div class="class-WBIalarmPaging">
			<button class="class-btnPrev">&lt;</button>
			<div class="class-paging">
				<a class="class-paging01 act" href="#" onclick="javascript:pagenation('1');">1</a>
				<a class="class-paging02" href="#" onclick="javascript:pagenation('2');">2</a>
				<a class="class-paging03" href="#" onclick="javascript:pagenation('3');">3</a>
			</div>
			<button class="class-btnNext">&gt;</button>
		</div>
-->
		<!-- 페이징 E -->
        
		<p class="class-WBItitle">
			<span class="class-WBItitleNum">15</span>
			<span class="class-WBItitleTxt">Items exceeded monitoring level on the</span>
			<span class="class-WBItitleStrong">WireBondingInspection</span>
		</p>

        <div class="class-itemWBInone">
            <div class="class-noAgraph">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <p class="class-noAlarmTxt">Monitoring items are normal</p>
        </div>
        <!-- no alarms E -->

        <!-- alarm이 있을 경우 활성화 -->
<!--
		<ul class="class-itemList class-itemList01 class-clearfix" id="id-itemList01">
			<li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
		</ul>
-->
		<!-- itemList01 E -->

<!--
		<ul class="class-itemList class-itemList02 class-clearfix" id="id-itemList02">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			 <li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList02 E -->

<!--
		<ul class="class-itemList class-itemList03 class-clearfix" id="id-itemList03">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList03 E -->
	</div>
	<!-- itemWBI E -->
</section>