<script type="text/javascript" src="js/banner.js"></script>

<section id="id-banner" class="class-WBIwrap class-clearfix">
	<div class="class-WBIalarmBanner">
		<div class="class-WBIalarmInner">
            <div class="class-eqImgWrap class-eqImg1 class-sim">
                <span class="class-text class-text1">인쇄기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text2">인쇄기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text3">Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text4">Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text5">Multi Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text6">N2 Reflow</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text7">항온조</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text8">세정기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text9">Au W/B</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text10">내관검사기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text11">날인/분리/LF</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text12">특성검사기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text13">TRM</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text14">항온조</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text15">TRM</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text16">ULD</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <!-- ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img1">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/Spectrum/img/sanken/sim/sim-1-r.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img2">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-2.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img3">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-3.png">
                    </span>
                    
                    <span class="class-img4">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-3.png">
                    </span>
                    
                    <span class="class-img5">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-3.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img6">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-4.png">
                    </span>
                    
                    <span class="class-img7">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-4.png">
                    </span>
                    
                    <span class="class-img8">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-4.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img9">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-5-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-5-1.png">
                    </span>
                    
                    <span class="class-img10">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-5-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-5-2.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img11">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-6.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-6.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img13">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-7.png">
                    </span>
                    
                    <span class="class-img14">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-7.png">
                    </span>
                    
                    <span class="class-img15">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-7.png">
                    </span>
                    
                    <span class="class-img16">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-7.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img17">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-8-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-8-r.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img18">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1.png">
                    </span>
                    
                    <span class="class-img19">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    
                    <span class="class-img20">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    
                    <span class="class-img21">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1.png">
                    </span>
                    
                    <span class="class-img22">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1.png">
                    </span>
                    
                    <span class="class-img23">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-2.png">
                    </span>
                    
                    <span class="class-img24">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-2.png">
                    </span>
                    
                    <span class="class-img25">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-2.png">
                    </span>
                    
                    <span class="class-img26">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-2.png">
                    </span>
                    
                    <span class="class-img27">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-2.png">
                    </span>
                    
                    <span class="class-img28">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    
                    <span class="class-img29">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1.png">
                    </span>
                    
                    <span class="class-img30">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    
                    <span class="class-img31">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img32">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-10.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-10.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img33">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-11.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-11.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img34">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-12-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-12-1.png">
                    </span>
                    
                    <span class="class-img35">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-12-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-12-2.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img36">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-13.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-13.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img37">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-14-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-14-1.png">
                    </span>
                    
                    <span class="class-img38">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-14-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-14-1.png">
                    </span>
                    
                    <span class="class-img39">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-14-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-14-2.png">
                    </span>
                    
                    <span class="class-img40">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-14-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-14-2.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img41">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-15.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-15.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img12">
                        <img ng-src="/Spectrum/img/sanken/sim/sim-16.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="/Spectrum/img/sanken/sim/sim-16.png">
                    </span>
                    
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->

            <span class="class-text class-text0">SIM</span>
            </div>
            <!-- class-eqImgWrap E -->
            
            
            
            
            <!-- class-eqImgWrap S -->
<!--
            <div class="class-eqImgWrap class-lami">
				<img src="img/lami/lami-unit-1-UnitElectrodeUnwinder.png">
				<img src="img/lami/lami-unit-2-UnitSeparatorUnwinder.png">
				<img src="img/lami/lami-unit-3-UnitCutter.png">
				<img src="img/lami/lami-unit-4-UnitHeatingZone.png">
				<img src="img/lami/lami-unit-5-UnitRollPress.png">
				<img src="img/lami/lami-unit-6-UnitSkewCorrection.png">
				<img src="img/lami/lami-unit-7-UnitFeedingRoller.png">
				<img src="img/lami/lami-unit-8-UnitFeedingCV.png">
				<img src="img/lami/lami-unit-9-UnitSeparatorSealer.png">
            </div>
-->
            <!-- class-eqImgWrap E -->
            
            
            
            
            <!-- class-packaging S -->
<!--
            <div class="class-eqImgWrap class-eqImg1 class-packaging">
				<span class="class-img1">
                    <img src="img/packaging/packaging-unit-1-Loader.png">
                </span>
				<span class="class-img2">
                    <img src="img/packaging/packaging-unit-2-TW-1-(Cathode).png">
                </span>
				<span class="class-img3">
                    <img src="img/packaging/packaging-unit-3-TW-2-(Anode)_r.png">
                </span>
				<span class="class-img4">
                    <img src="img/packaging/packaging-unit-4-Cell-Assy-1.png">
                </span>
				<span class="class-img5">
                    <img src="img/packaging/packaging-unit-5-Cell-Assy-2.png">
                </span>
				<span class="class-img6">
                    <img src="img/packaging/packaging-unit-6-4-Sealing.png">
                </span>
				<span class="class-img7">
                    <img src="img/packaging/packaging-unit-7-EL-Filling_r.png">
                </span>
				<span class="class-img8">
                    <img src="img/packaging/packaging-unit-8-V-Sealing.png">
                </span>
				<span class="class-img9">
                    <img src="img/packaging/packaging-unit-9-Unloader.png">
                </span>
            </div>
-->
            <!-- class-packaging E -->
            



            <!-- class-gen3 S -->
			<!--
            <div class="class-eqImgWrap class-eqImg1 class-gen3" >

                        <span style="white-space: pre;"class="class-text class-text1">인쇄기</span>

                        <span style="white-space: pre;" class="class-text class-text2">Mounter</span>

                        <span style="white-space: pre;" class="class-text class-text3">N2 Reflow</span>

                        <span style="white-space: pre;" class="class-text class-text4">Al Fin 부착기</span>

                        <span style="white-space: pre;" class="class-text class-text5">써미스트마운터</span>

                        <span style="white-space: pre;" class="class-text class-text6">플라즈마조사기</span>

                        <span style="white-space: pre;" class="class-text class-text7">Al W/B</span>

                        <span style="white-space: pre;" class="class-text class-text8">Au/Cu W/B</span>

                        <span style="white-space: pre;" class="class-text class-text9">내관검사기</span>

                        <span style="white-space: pre;" class="class-text class-text10">플라즈마 조사기</span>

                        <span style="white-space: pre;" class="class-text class-text11">2차 분리</span>

                        <span style="white-space: pre;" class="class-text class-text12">특성검사기</span>

                        <span style="white-space: pre;" class="class-text class-text13">항온조</span>

                        <span style="white-space: pre;" class="class-text class-text14">1차 분리</span>

                        <span style="white-space: pre;" class="class-text class-text15">TRM</span>

                        <span style="white-space: pre;" class="class-text class-text16">항온조</span>


                        <span class="ng-scope">

                            <span class="class-img1">
                                <img ng-src="img/sanken/gen3/gen-1-r.png" src="img/sanken/gen3/gen-1-r.png">

                            </span>
                        </span>

                        <span class="ng-scope">

                            <span class="class-img2">
                                <img ng-src="img/sanken/gen3/gen-2-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-2-1.png">
                            </span>
                            
                            <span class="class-img3">
                                <img ng-src="img/sanken/gen3/gen-2-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-2-2.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img4">
                                <img ng-src="img/sanken/gen3/gen-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-3.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img5">
                                <img ng-src="img/sanken/gen3/gen-4-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-4-r.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img6">
                                <img ng-src="img/sanken/gen3/gen-5-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-5-1.png">
                            </span>
                            
                            <span class="class-img7">
                                <img ng-src="img/sanken/gen3/gen-5-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-5-2.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img8">
                                <img ng-src="img/sanken/gen3/gen-6.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-6.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img9">
                                <img ng-src="img/sanken/gen3/gen-7-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-7-1.png">
                            </span>
                            
                            <span class="class-img10">
                                <img ng-src="img/sanken/gen3/gen-7-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-7-2.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img11">
                                <img ng-src="img/sanken/gen3/gen-8-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-8-1.png">
                            </span>
                            
                            <span class="class-img12">
                                <img ng-src="img/sanken/gen3/gen-8-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-8-1.png">
                            </span>
                            
                            <span class="class-img13">
                                <img ng-src="img/sanken/gen3/gen-8-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-8-2.png">
                            </span>
                            
                            <span class="class-img14">
                                <img ng-src="img/sanken/gen3/gen-8-2-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-8-2-r.png">
                            </span>
                            
                            <span class="class-img15">
                                <img ng-src="img/sanken/gen3/gen-8-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-8-2.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img16">
                                <img ng-src="img/sanken/gen3/gen-9.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-9.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img17">
                                <img ng-src="img/sanken/gen3/gen-10.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-10.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img18">
                                <img ng-src="img/sanken/gen3/gen-11-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-11-r.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img19">
                                <img ng-src="img/sanken/gen3/gen-12-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-12-r.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img20">
                                <img ng-src="img/sanken/gen3/gen-13-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-13-1.png">
                            </span>
                            
                            <span class="class-img21">
                                <img ng-src="img/sanken/gen3/gen-13-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-13-2.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img22">
                                <img ng-src="img/sanken/gen3/gen-14-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-14-r.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img23">
                                <img ng-src="img/sanken/gen3/gen-15-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-15-r.png">
                            </span>
                            
                        </span>

                        <span class="ng-scope">

                            <span class="class-img24">
                                <img ng-src="img/sanken/gen3/gen-16.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-16.png">
                            </span>
                            
                            <span class="class-img25">
                                <img ng-src="img/sanken/gen3/gen-16.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-16.png">
                            </span>
                            
                            <span class="class-img26">
                                <img ng-src="img/sanken/gen3/gen-16.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="img/sanken/gen3/gen-16.png">
                            </span>

                        </span>

                        
					<span class="class-text class-text0">GEN3</span></div>

					-->
            <!-- class-gen3 E -->

            
            
            
            <!-- class-staking S -->
<!--
            <div class="class-eqImgWrap class-staking">                                    
				<img src="img/stacking/stacking-unit-1-UnitStackingUnit_r.png">
				<img src="img/stacking/stacking-unit-2-UnitLogisticTapingHCLD_r.png">
				<img src="img/stacking/stacking-unit-3-UnitSTKInspector_r.png">
				<img src="img/stacking/stacking-unit-4-UnitInspector.png">
            </div>
-->
            <!-- class-staking E -->
            
        </div>
        <!-- class-WBIalarmInner E -->
	</div>
	<!-- class-WBalarm E -->
		
	<div class="class-alarmWBI">
		<div class="class-WBItitle class-clearfix">
			<span class="class-WBItitleTxt">alarms on the</span>
			<span class="class-WBItitleStrong">WireBondingInspection</span> 
            
            <!-- alarm이 있을 경우 페이징 버튼 활성화 -->
    
<!--
            <div class="class-WBIalarmPaging">
                <button class="class-btnPrev">&lt;</button>
                <div class="class-paging class-clearfix">
                    <a class="class-paging1 act" href="#" onclick="javascript:pagenation('1');">1</a>
                    <a class="class-paging2" href="#" onclick="javascript:pagenation('2');">2</a>
                    <a class="class-paging3" href="#" onclick="javascript:pagenation('3');">3</a>
                    <a class="class-paging4" href="#" onclick="javascript:pagenation('4');">3</a>
                    <a class="class-paging5" href="#" onclick="javascript:pagenation('5');">3</a>
                </div>
                <button class="class-btnNext">&gt;</button>
            </div>
-->
            <!-- 페이징 E -->
            
            <div class="class-WBItitleNum">
                <span>06</span>
            </div>
		</div>

        <!-- no alarms -->

<!--
        <div class="class-alarmWBInone">
            <p class="class-noAicon"><i class="far fa-bell-slash" aria-hidden="true"></i></p>
            <p class="class-noAlarmTxt">No alarms</p>
        </div>
-->
        <!-- no alarms E -->


        <!-- alarm이 있을 경우 활성화 -->
		<ul class="class-alarmList class-clearfix">
	 		<li class="class-alarmLinner01 ">
				<p class="class-listTit">E0811<span class="class-italic">Table</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>E0811<span class="class-italic">Table</span></p>
                    <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper<br>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li> 
			<li class="class-alarmLinner02 ">
				<p class="class-listTit">901<span class="class-italic">Attachment Unload Attachment Unload</span></p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#61;1 Stopper Down Sensor &#91;Unloader DVT&#61;1&#93; Error UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#61;1 Stopper Down Sensor &#91;Unloader DVT&#61;1&#93; Error</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>901<span class="class-italic">Attachment Unload</span></p>
                    <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper<br>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li>
			<li class="class-alarmLinner03 ">
				<p class="class-listTit">E1023<span class="class-italic">Wiper</span></p>
				<p>No initialization MMC board</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>E1023<span class="class-italic">Wiper</span></p>
                    <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper<br>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li>
			<li class="class-alarmLinner04 ">
				<p class="class-listTit">E1024<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>E1024<span class="class-italic">Wiper</span></p>
                    <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper<br>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li>
			<li class="class-alarmLinner05 ">
				<p class="class-listTit">E0815<span class="class-italic">Wiper</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>E0815<span class="class-italic">Wiper</span></p>
                    <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper<br>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li>
			<li class="class-alarmLinner06 ">
				<p class="class-listTit">E1026<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                
                <div class="class-toolTip">
                    <div class="class-iconTip"></div>
                    <p>E1026<span class="class-italic">Wiper</span></p>
                    <p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down<br>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                </div>
			</li>
		</ul>
	</div>
	<!-- alarmWBI E -->

	<div class="class-itemWBI">        
		<div class="class-WBItitle class-clearfix">
            <div>
                <span class="class-WBItitleTxt">Items exceeded monitoring level on the</span>
                <span class="class-WBItitleStrong">WireBondingInspection</span>
            </div>
            
            <!-- alarm이 있을 경우 페이징 버튼 활성화 -->
            <div class="class-WBIalarmPaging">
                <button class="class-btnPrev">&lt;</button>
                <div class="class-paging class-clearfix">
                    <a class="class-paging1 act" href="#" onclick="javascript:pagenation('8');">8</a>
                    <a class="class-paging2" href="#" onclick="javascript:pagenation('9');">9</a>
                    <a class="class-paging3" href="#" onclick="javascript:pagenation('10');">10</a>
                    <a class="class-paging4" href="#" onclick="javascript:pagenation('11');">11</a>
                    <a class="class-paging5" href="#" onclick="javascript:pagenation('12');">12</a>
                </div>
                <button class="class-btnNext">&gt;</button>
            </div>
            <!-- 페이징 E -->
            
            <div class="class-WBItitleNum">
                <span>15</span>
            </div>
            
		</div>

        <!-- no alarms -->

		<div class="class-itemWBInone">
			<p class="class-noAicon"><i class="far fa-bell-slash" aria-hidden="true"></i></p>
            <p class="class-noAlarmTxt">Monitoring items are normal</p>
        </div>
        <!-- no alarms E -->

		

        <!-- alarm이 있을 경우 활성화 -->
	<!-- 	<ul class="class-itemList class-itemList01 class-clearfix" id="id-itemList01">
			<li class="class-itemLinner01">
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Wiper / Usage Count</p>
		                </div>
			</li>
			<li class="class-itemLinner02">
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Wiper / Usage LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner03">
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Wiper / Usage Count</p>
		                </div>
			</li>
			<li class="class-itemLinner04 ">
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Bond Head / LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner05 ">
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Bond Head / LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner06 ">
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Bond Head / LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner07 ">
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Bond Head / LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner08 ">
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Wiper / LF Bond Vision Skip Count</p>
		                </div>
			</li>
			<li class="class-itemLinner09 ">
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
		                
		                <div class="class-toolTip">
		                    <div class="class-iconTip"></div>
		                    <p>Bond Head / LF Bond Vision Skip Count</p>
		                </div>
			</li>
		</ul> -->
		<!-- itemList01 E -->

<!--
		<ul class="class-itemList class-itemList02 class-clearfix" id="id-itemList02">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			 <li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList02 E -->

<!--
		<ul class="class-itemList class-itemList03 class-clearfix" id="id-itemList03">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList03 E -->
	</div>
	<!-- itemWBI E -->
</section>