<script type="text/javascript" src="js/banner.js"></script>

<section id="id-banner" class="class-WBIwrap class-clearfix">
	<div class="class-WBIalarmBanner">
		<div class="class-WBIalarmInner">
            <div class="class-eqImgWrap class-eqImg1 class-sim">
                <span class="class-text class-text1">인쇄기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text2">인쇄기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text3">Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text4">Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text5">Multi Mounter</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text6">N2 Reflow</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text7">항온조</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text8">세정기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text9">Au W/B</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text10">내관검사기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text11">날인/분리/LF</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text12">특성검사기</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text13">TRM</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text14">항온조</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text15">TRM</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="class-text class-text16">ULD</span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <!-- ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img1">
                        <img ng-src="../spectlob/img/sanken/sim/sim-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img2">
                        <img ng-src="../spectlob/img/sanken/sim/sim-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img3">
                        <img ng-src="../spectlob/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-3.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img4">
                        <img ng-src="../spectlob/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-3.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img5">
                        <img ng-src="../spectlob/img/sanken/sim/sim-3.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-3.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img6">
                        <img ng-src="../spectlob/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-4.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img7">
                        <img ng-src="../spectlob/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-4.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img8">
                        <img ng-src="../spectlob/img/sanken/sim/sim-4.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-4.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img9">
                        <img ng-src="../spectlob/img/sanken/sim/sim-5-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-5-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img10">
                        <img ng-src="../spectlob/img/sanken/sim/sim-5-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-5-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img11">
                        <img ng-src="../spectlob/img/sanken/sim/sim-6.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-6.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img13">
                        <img ng-src="../spectlob/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-7.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img14">
                        <img ng-src="../spectlob/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-7.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img15">
                        <img ng-src="../spectlob/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-7.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img16">
                        <img ng-src="../spectlob/img/sanken/sim/sim-7.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-7.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img17">
                        <img ng-src="../spectlob/img/sanken/sim/sim-8-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-8-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img18">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img19">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img20">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img21">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img22">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img23">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img24">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img25">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img26">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img27">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img28">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img29">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img30">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img31">
                        <img ng-src="../spectlob/img/sanken/sim/sim-9-1-r.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-9-1-r.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img32">
                        <img ng-src="../spectlob/img/sanken/sim/sim-10.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-10.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img33">
                        <img ng-src="../spectlob/img/sanken/sim/sim-11.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-11.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img34">
                        <img ng-src="../spectlob/img/sanken/sim/sim-12-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-12-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img35">
                        <img ng-src="../spectlob/img/sanken/sim/sim-12-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-12-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img36">
                        <img ng-src="../spectlob/img/sanken/sim/sim-13.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-13.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img37">
                        <img ng-src="../spectlob/img/sanken/sim/sim-14-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-14-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img38">
                        <img ng-src="../spectlob/img/sanken/sim/sim-14-1.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-14-1.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img39">
                        <img ng-src="../spectlob/img/sanken/sim/sim-14-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-14-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img40">
                        <img ng-src="../spectlob/img/sanken/sim/sim-14-2.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-14-2.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img41">
                        <img ng-src="../spectlob/img/sanken/sim/sim-15.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-15.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->
                <span class="ng-scope">
                    <!-- ngRepeat: imgitem in item.imagepath -->
                    <span class="class-img12">
                        <img ng-src="../spectlob/img/sanken/sim/sim-16.png" ng-click="ctrl.lineiamgeclicked(imgitem)" src="../spectlob/img/sanken/sim/sim-16.png">
                    </span>
                    <!-- end ngRepeat: imgitem in item.imagepath -->
                </span>
                <!-- end ngRepeat: item in ctrl.imagedata -->

            <span class="class-text class-text0">SIM</span>
            </div>
            <!-- class-eqImgWrap E -->
        </div>
        <!-- class-WBIalarmInner E -->
	</div>
	<!-- class-WBalarm E -->
		
	<div class="class-alarmWBI">
    
    
    <!-- alarm이 있을 경우 페이징 버튼 활성화 -->
<!--
		<div class="class-WBIalarmPaging">
			<button class="class-btnPrev">&lt;</button>
			<div class="class-paging">
				<a class="class-paging01 act" href="#" onclick="javascript:pagenation('1');">1</a>
				<a class="class-paging02" href="#" onclick="javascript:pagenation('2');">2</a>
				<a class="class-paging03" href="#" onclick="javascript:pagenation('3');">3</a>
			</div>
			<button class="class-btnNext">&gt;</button>
		</div>
-->
		<!-- 페이징 E -->

		<p class="class-WBItitle">
			<span class="class-WBItitleNum">06</span>
			<span class="class-WBItitleTxt">alarms on the</span>
			<span class="class-WBItitleStrong">WireBondingInspection</span>
		</p>

        <div class="class-alarmWBInone">
            <p class="class-noAicon"><i class="far fa-bell-slash" aria-hidden="true"></i></p>
            <p class="class-noAlarmTxt">No alarms</p>
        </div>
        <!-- no alarms E -->

        <!-- alarm이 있을 경우 활성화 -->
<!--
		<ul class="class-alarmList class-clearfix">
			<li>
				<p class="class-listTit">E0811<span class="class-italic">Table</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
				<p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">901<span class="class-italic">Attachment Unload</span></p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#61;1 Stopper</p>
				<p>Down Sensor &#91;Unloader DVT&#61;1&#93; Error</p>
			</li>
			<li>
				<p class="class-listTit">E1023<span class="class-italic">Wiper</span></p>
				<p>No initialization MMC board</p>
			</li>
			<li>
				<p class="class-listTit">E1024<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
				<p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">E0815<span class="class-italic">Wiper</span></p>
				<p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
				<p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
			<li>
				<p class="class-listTit">E1026<span class="class-italic">Wiper</span></p>
				<p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
				<p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
			</li>
		</ul>
-->
	</div>
	<!-- alarmWBI E -->

	<div class="class-itemWBI">
    
    <!-- alarm이 있을 경우 페이징 버튼 활성화 -->
<!--
		<div class="class-WBIalarmPaging">
			<button class="class-btnPrev">&lt;</button>
			<div class="class-paging">
				<a class="class-paging01 act" href="#" onclick="javascript:pagenation('1');">1</a>
				<a class="class-paging02" href="#" onclick="javascript:pagenation('2');">2</a>
				<a class="class-paging03" href="#" onclick="javascript:pagenation('3');">3</a>
			</div>
			<button class="class-btnNext">&gt;</button>
		</div>
-->
		<!-- 페이징 E -->
        
		<p class="class-WBItitle">
			<span class="class-WBItitleNum">15</span>
			<span class="class-WBItitleTxt">Items exceeded monitoring level on the</span>
			<span class="class-WBItitleStrong">WireBondingInspection</span>
		</p>

        <div class="class-itemWBInone">

				<div class="class-noAgraph">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>

            <p class="class-noAlarmTxt">Monitoring items are normal</p>
        </div>
        <!-- no alarms E -->

        <!-- alarm이 있을 경우 활성화 -->
<!--
		<ul class="class-itemList class-itemList01 class-clearfix" id="id-itemList01">
			<li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
		</ul>
-->
		<!-- itemList01 E -->

<!--
		<ul class="class-itemList class-itemList02 class-clearfix" id="id-itemList02">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			 <li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList02 E -->

<!--
		<ul class="class-itemList class-itemList03 class-clearfix" id="id-itemList03">
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead04">
					90.57<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper04">
					31052<span>ea</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead05">
					31052
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p>
					<span class="class-itemCountY class-wiper01">31052</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-wiper02">
					98.95<span>mm/s</span>
				</p>
			</li>
			<li>
				<p>Wiper / Usage Count</p>
				<p class="class-itemCountY class-wiper03">
				   31052<span>Count</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountR class-bondhead01">
					20<span>sec</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead02">
					16<span>Times</span>
				</p>
			</li>
			<li>
				<p>Bond Head / LF Bond Vision Skip Count</p>
				<p class="class-itemCountY class-bondhead03">
					6<span>Times</span>
				</p>
			</li>
		</ul>
-->
		<!-- itemList03 E -->
	</div>
	<!-- itemWBI E -->
</section>