<!DOCTYPE html>
<html>
<head>
    <title>LG-Spectrum</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="../img/images/favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <!--<link rel="stylesheet" href="css/fontawesome.min.css">-->
    <link rel="stylesheet" href="../css/common.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/all.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>

<div class="class-hdWrap">
    <header id="id-header" class="class-clearfix class-center">
        <h1 id="id-title">Spectrum <span class="class-subtitle">Dashboard</span></h1>

        <div class="class-lineSelect">
            <div class="class-lineSim">
                <span>LINE</span>
                <select>
                    <option value="sanken_sim">Sanken SIM</option>
                </select>
            </div>
            <div class="class-lineMachine">
                <span>MACHINE</span>
                <select>
                    <option value="all">ALL</option>
                </select>
            </div>
        </div>

        <div class="class-langTime">
            <select>
                <option value="english">ENGLISH</option>
            </select>
            <p>
                <span class="class-day">2017-11-13</span>
                <span class="class-time">20&#58;47&#58;23</span>
            </p>
        </div>
    </header>
</div>

<section id="id-container" class="class-center">
    <section class="class-board">
        <h2 class="class-blind">container</h2>
        
        <div class="class-alarm class-clearfix">
            <div>
                <p class="class-tacttime">4.4 sec</p>
                <p class="class-alarmTxt">Tact Time</p>
            </div>
            <div>
                <p class="class-output">5650 ea</p>
                <p class="class-alarmTxt">Daily Output</p>
            </div>
            <div>
                <p class="class-rate">87 &#37;</p>
                <p class="class-alarmTxt">Daily Operating Rate</p>
            </div>
        </div>
        
        <div class="class-WBIwrap class-clearfix">
            <div class="class-WBIalarmBanner">
                <div class="class-WBIalarmInner"><!--중간 이미지 영역--></div>
            </div>
            <!-- class-WBalarm E -->
                
            <div class="class-alarmWBI">
                <p class="class-WBItitle">
                    <span class="class-WBItitleNum">06</span>
                    <span class="class-WBItitleTxt">alarms on the</span>
                    <span class="class-WBItitleStrong">WireBondingInspection</span>
                </p>

                <ul class="class-alarmList class-clearfix">
                    <li>
                        <p class="class-listTit">E0811<span class="class-italic">Table</span></p>
                        <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
                        <p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                    </li>
                    <li>
                        <p class="class-listTit">901<span class="class-italic">Attachment Unload</span></p>
                        <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#61;1 Stopper</p>
                        <p>Down Sensor &#91;Unloader DVT&#61;1&#93; Error</p>
                    </li>
                    <li>
                        <p class="class-listTit">E1023<span class="class-italic">Wiper</span></p>
                        <p>No initialization MMC board</p>
                    </li>
                    <li>
                        <p class="class-listTit">E1024<span class="class-italic">Wiper</span></p>
                        <p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
                        <p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                    </li>
                    <li>
                        <p class="class-listTit">E0815<span class="class-italic">Wiper</span></p>
                        <p>TopUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper</p>
                        <p>Down Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                    </li>
                    <li>
                        <p class="class-listTit">E1026<span class="class-italic">Wiper</span></p>
                        <p>NUnLoadingBF_Error&#91;21&#93; Tray Stacker Stopper Down</p>
                        <p>Sensor &#91;Unloader Buffer&#35;5&#93; Error&#39;</p>
                    </li>
                </ul>
            </div>
            <!-- alarmWBI E -->

            <div class="class-itemWBI">
                <div class="class-WBIalarmPaging">
                    <button class="class-btnPrev">&lt;</button>
                    <div class="class-paging">
                        <a class="class-paging01 act" href="#" onclick="javascript:pagenation('1');">1</a>
                        <a class="class-paging02" href="#" onclick="javascript:pagenation('2');">2</a>
                        <a class="class-paging03" href="#" onclick="javascript:pagenation('3');">3</a>
                    </div>
                    <button class="class-btnNext">&gt;</button>
                </div>
                <!-- 페이징 -->
                <p class="class-WBItitle">
                    <span class="class-WBItitleNum">15</span>
                    <span class="class-WBItitleTxt">Items exceeded monitoring level on the</span>
                    <span class="class-WBItitleStrong">WireBondingInspection</span>
                </p>

                <ul class="class-itemList class-clearfix" id="id-itemList01">
                    <li>
                        <p>Wiper / Usage Count</p>
                        <p>
                            <span class="class-itemCountY class-wiper01">31052</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper02">
                            98.95<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage Count</p>
                        <p class="class-itemCountY class-wiper03">
                           31052<span>Count</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead01">
                            20<span>sec</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead02">
                            16<span>Times</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead03">
                            6<span>Times</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead04">
                            90.57<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper04">
                            31052<span>ea</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead05">
                            31052
                        </p>
                    </li>
                </ul>
				<!-- itemList01 E -->

				<ul class="class-itemList class-clearfix" id="id-itemList02">
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead01">
                            20<span>sec</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead02">
                            16<span>Times</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead03">
                            6<span>Times</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead04">
                            90.57<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper04">
                            31052<span>ea</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead05">
                            31052
                        </p>
                    </li>
					 <li>
                        <p>Wiper / Usage Count</p>
                        <p>
                            <span class="class-itemCountY class-wiper01">31052</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper02">
                            98.95<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage Count</p>
                        <p class="class-itemCountY class-wiper03">
                           31052<span>Count</span>
                        </p>
                    </li>
                </ul>
				<!-- itemList02 E -->

				<ul class="class-itemList class-clearfix" id="id-itemList03">
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead04">
                            90.57<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper04">
                            31052<span>ea</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead05">
                            31052
                        </p>
                    </li>
					<li>
                        <p>Wiper / Usage Count</p>
                        <p>
                            <span class="class-itemCountY class-wiper01">31052</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-wiper02">
                            98.95<span>mm/s</span>
                        </p>
                    </li>
                    <li>
                        <p>Wiper / Usage Count</p>
                        <p class="class-itemCountY class-wiper03">
                           31052<span>Count</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountR class-bondhead01">
                            20<span>sec</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead02">
                            16<span>Times</span>
                        </p>
                    </li>
                    <li>
                        <p>Bond Head / LF Bond Vision Skip Count</p>
                        <p class="class-itemCountY class-bondhead03">
                            6<span>Times</span>
                        </p>
                    </li>
                </ul>
				<!-- itemList03 E -->
            </div>
            <!-- itemWBI E -->
        </div>
        <!-- WBIwrap E -->
        
        <div class="class-alarmNum class-clearfix">
            <div class="class-numDate">
                <h3>Number of alarms by date</h3>
                <div class="class-dateGraph"><!--img--></div>
                
                <ul class="class-clearfix">
                    <li>
                        <p>Today</p>
                        <p class="class-todayAlarm">05</p>
                    </li>
                    <li>
                        <p>Average for<br>7 days</p>
                        <p class="class-weekAlarm">15</p>
                    </li>
                    <li>
                        <p>Average for<br>30 days</p>
                        <p class="class-monthAlarm">09</p>
                    </li>
                </ul>
            </div>
            <!-- num_date E -->
            <div class="class-numMachine">
                <h3>Number of alarms by machine</h3>
                <div class="class-machineGraph"><!--img--></div>
                
                <ul>
                    <li class="class-numTit">
                        <p>Top 3</p>
                    </li>
                    <li>
                        <p>1. SingleMounter_Mounter_</p>
                        <p class="class-sl">12</p>
                    </li>
                    <li>
                        <p>2. eMounter_M_IGBT1 Mounter_</p>
                        <p class="class-em">09</p>
                    </li>
                    <li>
                        <p>3. SingleMounter_M_Mounter_</p>
                        <p class="class-slM">07</p>
                    </li>
                </ul>
            </div>
            <!-- num_machine E -->
            <div class="class-numTodayRank">
                <h3>Top 5 Generated Today</h3>
                <ul>
                    <li class="class-clearfix">
                        <div class="class-rankNum">
                            <p>1</p>
                        </div>
                        <div>
                            <p class="class-codename code01">E0811</p>
                            <p class="class-countnum count01">Count 08</p>
                        </div>
                        <div class="class-history">
                            <p class="class-italic">Attachment Unload</p>
                            <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
                        </div>
                    </li>
                    <li class="class-clearfix">
                        <div class="class-rankNum">
                            <p>2</p>
                        </div>
                        <div>
                            <p class="class-codename code01">E2301</p>
                            <p class="class-countnum count02">Count 05</p>
                        </div>
                        <div class="class-history">
                            <p class="class-italic">Attachment Unload</p>
                            <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
                        </div>
                    </li>
                    <li class="class-clearfix">
                        <div class="class-rankNum">
                            <p>3</p>
                        </div>
                        <div>
                            <p class="class-codename code01">E1211</p>
                            <p class="class-countnum count03">Count 04</p>
                        </div>
                        <div class="class-history">
                            <p class="class-italic">Attachment Unload</p>
                            <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
                        </div>
                    </li>
                    <li class="class-clearfix">
                        <div class="class-rankNum">
                            <p>4</p>
                        </div>
                        <div>
                            <p class="class-codename code01">E0801</p>
                            <p class="class-countnum count04">Count 02</p>
                        </div>
                        <div class="class-history">
                            <p class="class-italic">Attachment Unload</p>
                            <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
                        </div>
                    </li>
                    <li class="class-clearfix">
                        <div class="class-rankNum">
                            <p>5</p>
                        </div>
                        <div>
                            <p class="class-codename code01">E0011</p>
                            <p class="class-countnum count05">Count 01</p>
                        </div>
                        <div class="class-history">
                            <p class="class-italic">Attachment Unload</p>
                            <p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- num_today_rank E -->
        </div>
        <!-- alarmNum E -->
    </section>
    
    <aside id="id-timeline">
        <div class="class-timeTit class-clearfix">
            <h3 onclick="javascript:sorting('all');">Timeline</h3>
            <div class="class-timelineHistory">
                <ul class="class-clearfix">
                    <li onclick="javascript:sorting('class-config');">
						<span><i class="fas fa-cog "></i></span>
						<span class="class-history01">15</span>
                    </li>
                    <li onclick="javascript:sorting('class-dashboard');">
						<span><i class="fas fa-tachometer-alt"></i></span>
						<span class="class-history02">01</span>
                    </li>
                    <li onclick="javascript:sorting('class-warning');">
						<span><i class="fas fa-exclamation-triangle"></i></span>
						<span class="class-history03">05</span>
                    </li>
                    <li onclick="javascript:sorting('class-repair');">
						<span><i class="fas fa-wrench"></i></span>
						<span class="class-history04">95</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- time_tit E -->
        <div class="class-timelineInner">
            <ul class="class-clearfix">
                <li class="class-timeline01 class-warning">
                    <div class="class-timerwrap class-timer01">
                        <p><i class="fas fa-exclamation-triangle "></i></p>
                        <p class="class-timer">20&#58;32&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Alarm Occured</p>
                        <p><span class="class-tBlue">901</span> UnloaderBF_Error&#91;14&#93; Unloader Buffer&#35;1</p>
                        <p>Stopper Down Sensor &#91;Unloader DVT&#35;1&#93;</p>
                        <p>it occuered <span class="class-tBlue">3 times</span> today</p>
                    </div>
                </li>
                <li class="class-timeline02 class-dashboard">
                    <div class="class-timerwrap class-timer02">
                        <p><i class="fas fa-tachometer-alt"></i></p>
                        <p class="class-timer">19&#58;20&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Management Level Exceeded</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is <span class="class-tRed">1123mm</span>.</p>
                        <p>It occuered 4 times today</p>
                    </div>
                </li>
                <li class="class-timeline03 class-config">
                    <div class="class-timerwrap class-timer03">
                        <p><i class="fas fa-cog ga-lg"></i></p>
                        <p class="class-timer">15&#58;05&#58;12</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Setting Value Changed</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is changed.</p>
                        <p>860 &#45; &gt;<span class="class-tBlue">880</span></p>
                    </div>
                </li>
                <li class="class-timeline04 class-repair">
                    <div class="class-timerwrap class-timer04">
                        <p><i class="fas fa-wrench "></i></p>
                        <p class="class-timer">20&#58;32&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Parts Replacement Cycle Occured</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is out of monitorring level.</p>
                        <p><span class="class-tRed">1123</span> &gt; 1040</p>
                    </div>
                </li>
                <li class="class-timeline05 class-warning">
                    <div class="class-timerwrap class-timer05">
                        <p><i class="fas fa-exclamation-triangle "></i></p>
                        <p class="class-timer">20&#58;32&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Alarm Occured</p>
                        <p><span class="class-tBlue">901</span> UnloaderBF_Error&#91;14&#93; Unloader Buffer&#35;1</p>
                        <p>Stopper Down Sensor &#91;Unloader DVT&#35;1&#93;</p>
                        <p>it occuered <span class="class-tBlue">3 times</span> today</p>
                    </div>
                </li>
                <li class="class-timeline02 class-dashboard">
                    <div class="class-timerwrap class-timer02">
                        <p><i class="fas fa-tachometer-alt"></i></p>
                        <p class="class-timer">19&#58;20&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Management Level Exceeded</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is <span class="class-tRed">1123mm</span>.</p>
                        <p>It occuered 4 times today</p>
                    </div>
                </li>
                <li class="class-timeline03 class-config">
                    <div class="class-timerwrap class-timer03">
                        <p><i class="fas fa-cog ga-lg"></i></p>
                        <p class="class-timer">15&#58;05&#58;12</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Setting Value Changed</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is changed.</p>
                        <p>860 &#45; &gt;<span class="class-tBlue">880</span></p>
                    </div>
                </li>
                <li class="class-timeline04 class-repair">
                    <div class="class-timerwrap class-timer04">
                        <p><i class="fas fa-wrench "></i></p>
                        <p class="class-timer">20&#58;32&#58;27</p>
                    </div>
                    
                    <div class="class-timelineToday">
                        <p class="class-todayTit">Parts Replacement Cycle Occured</p>
                        <p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
                        <p>&#40;WireBondingInspection / Attachment Unload&#41; is out of monitorring level.</p>
                        <p><span class="class-tRed">1123</span> &gt; 1040</p>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</section>

</body>
</html>
