<section id="id-numberAlarm" class="class-numDate">
	<h3>Number of alarms by date</h3>
	<div class="class-dateGraph"><!--img--></div>
	
	<ul class="class-clearfix">
		<li>
			<p>Today</p>
			<p class="class-todayAlarm">05</p>
		</li>
		<li>
			<p>Average for<br>7 days</p>
			<p class="class-weekAlarm">15</p>
		</li>
		<li>
			<p>Average for<br>30 days</p>
			<p class="class-monthAlarm">09</p>
		</li>
	</ul>
</section>
<!-- num_date E -->


<section id="id-machineAlarm" class="class-numMachine">
	<h3>Number of alarms by machine</h3>
	<div class="class-machineGraph"><!--img--></div>
    <p class="class-numTit">Top 3</p>
	
    <!-- no alarms -->
<!--
    <div class="class-MachineAnone">
        <p class="class-noAicon"><i class="far fa-bell-slash" aria-hidden="true"></i></p>
        <p class="class-noAlarmTxt">There is no alarm today</p>
    </div>
-->
    <!-- no alarms E -->
    
    <!-- alarm이 있을 경우 활성화 -->
	<ul class="class-alarmHistory">
		<li class="class-history01">
			<p>1. SingleMounter_Mounter_</p>
			<p class="class-sl">12</p>
		</li>
		<li class="class-history02">
			<p>2. eMounter_M_IGBT1 Mounter_</p>
			<p class="class-em">09</p>
		</li>
		<li class="class-history03 class-listLast">
			<p>3. SingleMounter_M_Mounter_</p>
			<p class="class-slM">07</p>
		</li>
	</ul>
</section>