<section id="id-alarm" class="class-alarm class-type2 class-clearfix">
	<div class="class-process3-01">
		<p class="class-alarmTit">4.4 sec</p>
		<p class="class-alarmTxt">Tact Time</p>
	</div>
	<div class="class-process3-02">
		<p class="class-alarmTit">5650 ea</p>
		<p class="class-alarmTxt">Daily Output</p>
	</div>
	<div class="class-process3-03">
		<p class="class-alarmTit">
            <span class="class-uaNum">24</span>
            <span>/</span>
            <span class="class-taNum">77</span>
            <span>ea</span>
        </p>
		<p class="class-alarmTxt">Unresolved&nbsp;&nbsp;&nbsp;&nbsp;Today Alarms</p>
	</div>
</section>
