<section id="id-rank" class="class-numTodayRank">
	<h3>Top 5 Alarms for Today</h3>
    
<!--     <div class="class-todayRnone">
        <p class="class-noAicon"><i class="far fa-bell-slash" aria-hidden="true"></i></p>
        <p class="class-noAlarmTxt">There is no alarm today</p>
    </div>
     -->
    <!-- alarm이 있을 경우 활성화 -->
<ul class="class-todayRankHistory">
		<li class="class-alarmCount01 class-clearfix">
			<div class="class-rankNum">
				<p>1</p>
			</div>
			<div>
				<p class="class-codename code01">E0811</p>
				<p class="class-countnum count01">Count 08</p>
			</div>
			<div class="class-history">
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
			</div>
            
            <div class="class-toolTip">
                <div class="class-iconTip"></div>
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
            </div>
		</li>
		<li class="class-alarmCount02 class-clearfix">
			<div class="class-rankNum">
				<p>2</p>
			</div>
			<div>
				<p class="class-codename code01">E2301</p>
				<p class="class-countnum count02">Count 05</p>
			</div>
			<div class="class-history">
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
			</div>
            
            <div class="class-toolTip">
                <div class="class-iconTip"></div>
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
            </div>
		</li>
		<li class="class-alarmCount03 class-clearfix">
			<div class="class-rankNum">
				<p>3</p>
			</div>
			<div>
				<p class="class-codename code01">E1211</p>
				<p class="class-countnum count03">Count 04</p>
			</div>
			<div class="class-history">
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
			</div>
            
            <div class="class-toolTip">
                <div class="class-iconTip"></div>
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
            </div>
		</li>
		<li class="class-alarmCount04 class-clearfix">
			<div class="class-rankNum">
				<p>4</p>
			</div>
			<div>
				<p class="class-codename code01">E0801</p>
				<p class="class-countnum count04">Count 02</p>
			</div>
			<div class="class-history">
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
			</div>
            
            <div class="class-toolTip">
                <div class="class-iconTip"></div>
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
            </div>
		</li>
		<li class="class-alarmCount05 class-alarmCountLast class-clearfix">
			<div class="class-rankNum">
				<p>5</p>
			</div>
			<div>
				<p class="class-codename code01">E0011</p>
				<p class="class-countnum count05">Count 01</p>
			</div>
			<div class="class-history">
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
			</div>
            
            <div class="class-toolTip">
                <div class="class-iconTip"></div>
				<p class="class-italic">Attachment Unload</p>
				<p>UnLoadingBF_Error&#91;14&#93; Unloader Buffer&#35;1 Stopper<br>Down Sensor &#91;Unloader DVT&#35;1&#93; Error</p>
            </div>
		</li>
	</ul>
</section>