<script type="text/javascript" src="js/timeline.js"></script>

<section id="id-timeline" class="class-timeline">
	<div class="class-timeTit class-clearfix">
		<h3 onclick="javascript:sorting();">Timeline</h3>
		<div class="class-timelineHistory">
			<ul class="class-clearfix">
				<li class="class-timelineHead01">
					<span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
					<span class="class-history01">05</span>
				</li>
				<li class="class-timelineHead02">
					<span><i class="fas fa-tachometer-alt" aria-hidden="true"></i></span>
					<span class="class-history02">01</span>
				</li>
				<li class="class-timelineHead03">
					<span><i class="fa fa-wrench" aria-hidden="true"></i></span>
					<span class="class-history03">95</span>
				</li>
				<li class="class-timelineHead04">
					<span><i class="fa fa-cog" aria-hidden="true"></i></span>
					<span class="class-history04">15</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- time_tit E -->
    
    <!-- no-alarm -->
    <div class="class-NoneAwrap">
        <div class="class-timelineAnone">
            <p class="class-noAlarmTxt">There is no alarm today</p>
        </div>
    </div>
    <!-- no-alarm E -->
    
	<div class="class-timelineInner" style="display:none;">
		<ul class="class-clearfix">
			<li class="class-timeline01 class-warning class-on">
				<div class="class-timerwrap class-timer01">
					<p class="class-fontColor"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
					<p class="class-timer">20&#58;32&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Alarm Occured</p>
					<p><span class="class-tBlue">901</span> UnloaderBF_Error&#91;14&#93; Unloader Buffer&#35;1</p>
					<p>Stopper Down Sensor &#91;Unloader DVT&#35;1&#93;</p>
					<p>it occuered <span class="class-tBlue">3 times</span> today</p>
				</div>
			</li>
			<li class="class-timeline02 class-dashboard class-on">
				<div class="class-timerwrap class-timer02">
					<p><i class="fas fa-tachometer-alt" aria-hidden="true"></i></p>
					<p class="class-timer">19&#58;20&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Management Level Exceeded</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is <span class="class-tRed">1123mm</span>.</p>
					<p>It occuered 4 times today</p>
				</div>
			</li>
			<li class="class-timeline03 class-config class-on">
				<div class="class-timerwrap class-timer03">
					<p><i class="fa fa-cog" aria-hidden="true"></i></p>
					<p class="class-timer">15&#58;05&#58;12</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Setting Value Changed</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is changed.</p>
					<p>860 &#45; &gt;<span class="class-tBlue">880</span></p>
				</div>
			</li>
			<li class="class-timeline04 class-repair class-on">
				<div class="class-timerwrap class-timer04">
					<p><i class="fa fa-wrench" aria-hidden="true"></i></p>
					<p class="class-timer">20&#58;32&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Parts Replacement Cycle Occured</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is out of monitorring level.</p>
					<p><span class="class-tRed">1123</span> &gt; 1040</p>
				</div>
			</li>
			<li class="class-timeline01 class-warning class-on">
				<div class="class-timerwrap class-timer05">
					<p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
					<p class="class-timer">20&#58;32&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Alarm Resulved</p>
					<p><span class="class-tBlue">901</span> UnloaderBF_Error&#91;14&#93; Unloader Buffer&#35;1</p>
					<p>Stopper Down Sensor &#91;Unloader DVT&#35;1&#93;</p>
					<p>it occuered <span class="class-tBlue">3 times</span> today</p>
				</div>
			</li>
			<li class="class-timeline02 class-dashboard class-on">
				<div class="class-timerwrap class-timer02">
					<p><i class="fas fa-tachometer-alt" aria-hidden="true"></i></p>
					<p class="class-timer">19&#58;20&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Management Level Exceeded</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is <span class="class-tRed">1123mm</span>.</p>
					<p>It occuered 4 times today</p>
				</div>
			</li>
			<li class="class-timeline03 class-config class-on">
				<div class="class-timerwrap class-timer03">
					<p><i class="fa fa-cog" aria-hidden="true"></i></p>
					<p class="class-timer">15&#58;05&#58;12</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Setting Value Changed</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is changed.</p>
					<p>860 &#45; &gt;<span class="class-tBlue">880</span></p>
				</div>
			</li>
			<li class="class-timeline04 class-repair class-on">
				<div class="class-timerwrap class-timer04">
					<p><i class="fa fa-wrench" aria-hidden="true"></i></p>
					<p class="class-timer">20&#58;32&#58;27</p>
				</div>
				
				<div class="class-timelineToday">
					<p class="class-todayTit">Parts Replacement Cycle Occured</p>
					<p><span class="class-tWhite class-italic">Cgo Align Down Inspection 4 Y2 Align Down Result</span></p>
					<p>&#40;WireBondingInspection / Attachment Unload&#41; is out of monitorring level.</p>
					<p><span class="class-tRed">1123</span> &gt; 1040</p>
				</div>
			</li>
		</ul>
	</div>
    <!-- class-timelineInner E -->
</section>