<section id="id-top" class="class-hdWrap">
    <header id="id-header" class="class-header class-clearfix class-center">
        <h1 id="id-title" class="class-title">Spectrum <span class="class-subtitle">Dashboard</span></h1>

        <div class="class-lineSelect">
            <div class="class-lineSim">
                <span>LINE</span>
                <select>
                    <option value="sanken_sim">Sanken SIM</option>
                </select>
            </div>
            <div class="class-lineMachine">
                <span>MACHINE</span>
                <select>
                    <option value="all">ALL</option>
                </select>
            </div>
        </div>

        <div class="class-langTime">
            <select>
                <option value="english">ENGLISH</option>
            </select>
            <p>
                <span class="class-day">2017-11-13</span>
                <span class="class-time">20&#58;47&#58;23</span>
            </p>
        </div>
    </header>
</section>