<section id="id-top" class="class-hdWrap">
    <header id="id-header" class="class-header class-clearfix ">
        <h1 id="id-title" class="class-title">Spectrum <span class="class-subtitle">Dashboard</span></h1>

        <div class="class-lineSelect">
            <div class="class-lineSim">
                <span>LINE</span>
                <select>
                    <option value="sanken_sim">Sanken SIM</option>
                </select>
            </div>
            <div class="class-lineMachine">
                <span>MACHINE</span>
                <select>
                    <option value="all">ALL</option>
                </select>
            </div>
        </div>

        <div class="class-langTime">
            <nav class="class-gnb">
                <button>Service<span></span></button>

                <!-- 활성화 시 class-none 삭제 / 비활성화 시 class-none -->
                <ul class="class-gnbInner class-none">
                    <li>
                        <a href="#">Spectrum Chart</a>
                    </li>
                    <li>
                        <a href="#">Spectrum Export</a>
                    </li>
                </ul>
            </nav>
            
            <select>
                <option value="english">ENGLISH</option>
            </select>
            <p>
                <span class="class-day">2017-11-13</span>
                <span class="class-time">20&#58;47&#58;23</span>
            </p>
        </div>
    </header>
</section>